body {
  background-color: #fbffd3;
  font-family: Arial, Helvetica, sans-serif;
}

/* Game Header Formatting*/
.page-header {
  text-align: center;
}
.game-name {
  font-family: 'Stardos Stencil', cursive;
  margin: .5rem 0 0 .5rem;
}

.team-greet, .time{
  margin: 0 0 0 .5rem;
  padding: 0px;
}

/* End Game Header Formatting */