#title {
    text-align: center;
    font-family: 'Stardos Stencil', cursive;
    text-shadow: 1px 1px 5px slategray;
    color: #39453D;
}

#lead {
    text-align: center;
    font-family: 'PT Mono', monospace;
    font-size: 15px;
    text-shadow: 1px 1px 5px slategray;
    color: #39453D;
}


.jumbotron {
    background-image: url("../../images/thehunt-jumbotron.jpg");
    background-size: cover;
    height: 300px;
    box-shadow: 1px 1px 10px slategrey;
}