#title {
    text-align: center;
    font-family: 'Stardos Stencil', cursive;
}

#lead {
    text-align: center;
    font-family: 'PT Mono', monospace;
    font-size: 15px;
}

/* h1, h3 {
    font-family: 'Alfa Slab One', cursive;
    color: white;
    text-shadow: 3px 3px 2px slategrey;
} */

/* .lead {
    color: white;
    font-weight: bold;
    text-shadow: 3px 3px 2px slategrey;
} */

.jumbotron {
    /* background-image: url("../../images/thehunt-jumbotron.jpg"); */
    /* box-shadow: 1px 1px 3px slategrey */
}