#streamWindow{
    max-height: 400px;
    overflow-y: scroll;
    display:flex;
    flex-direction:column;
    height:100%;
}

/* .chat-messages{
    flex: 1;
    height:100%;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
  } */